/*
 * -------------------------------------------------
 *  lifebit-ai/traits Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */


docker.enabled = true
process.container = 'quay.io/lifebitai/traits:latest'

params {

  post_analysis = false
  input_gwas_statistics = false
  external_gwas_statistics = false
  output_tag = 'traits'
  external_gwas_cat_study_id  = false
  external_gwas_cat_study_size  = false
  external_gwas_cat_ftp = false
  ld_scores_tar_bz2 = null
  hapmap3_snplist = "https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/pipelines/biobank-gwas/assets/w_hm3.snplist"
  //ld_scores_tar_bz2 = "https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/pipelines/biobank-gwas/assets/eur_w_ld_chr.tar.bz2"
  pop = "EUR"
  pops {
    'EUR' {
      ld_scores_tar_bz2 = "https://lifebit-featured-datasets.s3-eu-west-1.amazonaws.com/pipelines/biobank-gwas/assets/eur_w_ld_chr.tar.bz2"
    }
    'EAS' {
      ld_scores_tar_bz2 = "s3://traits-ldsc-files/1000g_ldscores/eas_ldscores.tar.bz2"
    }
  }
  outdir = './results'

  help = false
  tracedir = "${params.outdir}/pipeline_info"
  hostnames = false
  config = 'conf/standard.config'

  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h

}

profiles {
  standard {includeConfig params.config }
  binary_genetic_correlation_h2 { includeConfig 'conf/binary_genetic_correlation_h2.config' }
  binary_h2 { includeConfig 'conf/binary_h2.config' }
  binary_gwas_catalogue_genetic_correlation_h2 { includeConfig 'conf/binary_gwas_catalogue_genetic_correlation_h2.config' }
  qt_genetic_correlation_h2 { includeConfig 'conf/qt_genetic_correlation_h2.config' }
  qt_h2 { includeConfig 'conf/qt_h2.config' }
  qt_gwas_catalogue { includeConfig 'conf/qt_gwas_catalogue.config' }
}


// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}

manifest {
  name = 'lifebit-ai/traits'
  author = 'Marcos Cámara Donoso, Christina Chatzipantsiou, Athanasios Kousathanas'
  homePage = 'https://github.com/lifebit-ai/traits'
  description = 'Workflow for gathering information about genetic traits from GWAS summary statistics'
  mainScript = 'main.nf'
  nextflowVersion = '>=19.10.0'
  version = '1.0dev'
}

