/*
 * -----------------------------------------------------------------
 *  lifebit-ai/traits binary_gwas_catalogue config file
 * -----------------------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 * nextflow run main.nf -profile binary_gwas_catalogue
 */

docker.enabled = true

params  {

    post_analysis = "genetic_correlation_h2"
    input_file = "s3://lifebit-featured-datasets/projects/gel/gel-gwas/gwas_summary_bin.csv"
    gwas_cat_study_id = "GCST004420-ci"
    gwas_cat_study_size = 3631
    gwas_catalogue_ftp = "s3://lifebit-featured-datasets/projects/gel/prs/ftp_locations_harmonized.csv"
    hapmap3_snplist = "s3://lifebit-featured-datasets/projects/gel/gel-gwas/assets/w_hm3.snplist"
    ld_scores_tar_bz2 = "s3://lifebit-featured-datasets/projects/gel/gel-gwas/assets/eur_w_ld_chr.tar.bz2"

    // Limit resources so that this can run on GitHub Actions
    max_cpus = 2
}